// Place all the styles related to the my_number controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: black;
	// background-image: url(white-grey-texture-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h2 {
	color: white;
}

.navbar-default {
	background-color: black;
}

.jumbotron {
	color: white;
	border-radius: 0px !important;
	background-image: url(planet-earth.jpg);
	background-size: cover;
	background-position: center;
	border: 1px solid white;
 // 	background: #22b573; /* Old browsers */
	// background: -moz-linear-gradient(left,  #22b573 0%, #29abe2 100%, #207cca 100%, #7db9e8 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, right top, color-stop(0%,#22b573), color-stop(100%,#29abe2), color-stop(100%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(left,  #22b573 0%,#29abe2 100%,#207cca 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(left,  #22b573 0%,#29abe2 100%,#207cca 100%,#7db9e8 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(left,  #22b573 0%,#29abe2 100%,#207cca 100%,#7db9e8 100%); /* IE10+ */
	// background: linear-gradient(to right,  #22b573 0%,#29abe2 100%,#207cca 100%,#7db9e8 100%); /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22b573', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}

.dl-horizontal {
	font-size: 20px;
}

.profile-with-goals {
  width: 270px;
  height: 270px;
}

.profile-image {
  border-radius: 100px;
  height: 200px;
  width: 200px;
  margin-top: 35px;
  margin-left: 35px;
}

.goal-circle {
  height: 310px;
  width: 310px;
  position: absolute;
  left: 55px;
  top: 29px;
  display :none;
}

.goal-square {
	text-align: center;
	color: white;
	font-size: 28pt;
	line-height: 160px;
	padding: 0px !important;
	margin-bottom: 25px;
}

.goal-square img {
	width: 90%;
	opacity: 0.6;
}

#googleMap {
	width: 100%;
	height: 400px;
}