// Place all the styles related to the my_number controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default {
	background-color: #F5BA1F;
}

.jumbotron {
	color: white;
 	background-color: #26A1ED;
}