// Place all the styles related to the my_number controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar-default {
	background-color: #F5BA1F;
}

.jumbotron {
	color: white;
 	background-color: #26A1ED;
}

.goal-square {
	height: 200px;
	background-color: red;
	border: 20px solid white;
	text-align: center;
	color: white;
	font-size: 28pt;
	line-height: 160px;
}

.goal-square img {
	height: 160px;
}

#googleMap {
	width: 100%;
	height: 400px;
}